
.container{
    
    width: 500px;
    height: 350px;
    
}

.text_area_properties{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}